
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Wprowadź dane nowego klienta</h2>

<body>
    <div>
        <form action="AddCustomer" method="post" enctype="multipart/form-data">
            <h4>Dane do logowania</h4>
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" name="Login">
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input type="text" class="form-control" name="Password">
            </div>
            <h4>Dane do faktury</h4>
            <div class="form-group">
                <label>Nazwa firmy</label>
                <input type="text" class="form-control" name="InvoiceAddress.CompanyName">
            </div>
            <div class="form-group">
                <label>Imię</label>
                <input type="text" class="form-control" name="InvoiceAddress.CustomerName">
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input type="text" class="form-control" name="InvoiceAddress.CustomerSurname">
            </div>
            <div class="form-group">
                <label>NIP</label>
                <input type="text" class="form-control" name="InvoiceAddress.NIP">
            </div>
            <div class="form-group">
                <label>Ulica</label>
                <input type="text" class="form-control" name="InvoiceAddress.Street">
            </div>
            <div class="form-group">
                <label>Numer budynku</label>
                <input type="text" class="form-control" name="InvoiceAddress.StreetNumber">
            </div>
            <div class="form-group">
                <label>Miasto</label>
                <input type="text" class="form-control" name="InvoiceAddress.City">
            </div>
            <div class="form-group">
                <label>Kod pocztowy</label>
                <input type="text" class="form-control" name="InvoiceAddress.ZipCode">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input type="text" class="form-control" name="InvoiceAddress.Phone">
            </div>
            <h4>Dane do wysyłki</h4>
            <div class="form-group">
                <label>Nazwa firmy</label>
                <input type="text" class="form-control" name="ShippingAddress.CompanyName">
            </div>
            <div class="form-group">
                <label>Imię</label>
                <input type="text" class="form-control" name="ShippingAddress.CustomerName">
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input type="text" class="form-control" name="ShippingAddress.CustomerSurname">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="ShippingAddress.Email">
            </div>
            <div class="form-group">
                <label>Telefon</label>
                <input type="text" class="form-control" name="ShippingAddress.Phone">
            </div>
            <div class="form-group">
                <label>Ulica</label>
                <input type="text" class="form-control" name="ShippingAddress.Street">
            </div>
            <div class="form-group">
                <label>Numer budynku</label>
                <input type="text" class="form-control" name="ShippingAddress.StreetNumber">
            </div>
            <div class="form-group">
                <label>Miasto</label>
                <input type="text" class="form-control" name="ShippingAddress.City">
            </div>
            <div class="form-group">
                <label>Kod pocztowy</label>
                <input type="text" class="form-control" name="ShippingAddress.ZipCode">
            </div>

            <input class="myButton4" type="submit" value="Zapisz zmiany" />
        </form>
    </div>
</body>