
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "AddNewProduct";
}

<h3>Dodawanie nowego produktu</h3>

<body>
    <div>
        <form action="AddNewProduct" method="post">            
                <div class="form-group">
                    <label>Symbol produktu</label>
                    <input type="text" class="form-control" name="ProductSymbol">
                </div>
                <div class="form-group">
                    <label>Nazwa produktu</label>
                    <input type="text" class="form-control" name="ProductName">
                </div>
                <div class="form-group">
                    <label>Producent</label>
                    <input type="text" class="form-control" name="Manufacturer">
                </div>
                <div class="form-group">
                    <label>Cena</label>
                    <input type="text" class="form-control" name="Price">
                </div>
                <div class="form-group">
                    <label>Ilość</label>
                    <input type="number" class="form-control" min="1" name="Stock">
                </div>
                <div class="form-group">
                    <label>Zdjęcie</label>
                    <input type="text" class="form-control" name="Photo">
                </div>
                    <input class="myButton4" type="submit" value="Dodaj produkt" />           
        </form>
    </div> 
</body>

