
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Zmiana hasła</h1>

<body>
    <div>
        <form action="ChangePassword" method="post">
            <div class="form-group">
                <label>Wprowadź aktualne hasło</label>
                <input type="password" class="form-control" name="currentPassword">
            </div>
            <div class="form-group">
                <label>Wprowadź nowe hasło</label>
                <input type="password" class="form-control" name="newPassword">
            </div>
            <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password" class="form-control" name="password2">
            </div>
            <input class="myButton4" type="submit" value="Zapisz zmiany" />
        </form>
    </div>

    @if(ViewBag.LogInfo != null)
        {
    <p>
        <div class="alert alert-warning" role="alert">
            @ViewBag.LogInfo
        </div>
    </p>
        }
</body>


