
@{
    ViewData["Title"] = "Login";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <link href="~/Media/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Media/login.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="~/Media/img/reptigood-logo.jpg" id="icon" alt="logo" />
            </div>

            <form action="Login" method="post">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="hasło">
                <input type="submit" class="fadeIn fourth" value="Zaloguj">

                @if (ViewBag.LogInfo != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.LogInfo
                    </div>
                }
            </form>


            @*<div id="formFooter">
            <a class="underlineHover" href="#">Nie możesz się zalogować?</a>
        </div>*@

        </div>
        <div id="copyright" class="container">
            <p>&copy; INTERNETOWA HURTOWNIA ZOOLOGICZNO-TERRARYSTYCZNA</p>
        </div>
    </div>

</body>
</html>