
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form action="Register" method="post">
    <input type="text" name="username" value="wewewe" />
    <input type="text" name="password" value="wewewe" />
    <button type="submit">Zarejestruj</button>
</form>

