body {
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

th, td {
    padding: 15px;
    text-align: center;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 28px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color: #77a809;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }


.myButton2 {
    box-shadow: inset 0px 1px 0px -4px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 6px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 29px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2b665e;
}

    .myButton2:hover {
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #6c7c7c;
    }

    .myButton2:active {
        position: relative;
        top: 1px;
    }

    .myButton3 {
        box-shadow: inset 0px 1px 0px 0px #a4e271;
        background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        background-color: #89c403;
        border-radius: 6px;
        border: 1px solid #74b807;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 22px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528009;
    }

    .myButton3:hover {
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color: #77a809;
    }

    .myButton3:active {
        position: relative;
        top: 1px;
    }

    .myButton4 {
        box-shadow: inset 0px 1px 0px 0px #a4e271;
        background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        background-color: #89c403;
        border-radius: 6px;
        border: 1px solid #74b807;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 9px 28px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528009;
    }

    .myButton4:hover {
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color: #77a809;
    }

    .myButton4:active {
        position: relative;
        top: 1px;
    }



    input[type=submit] {
        box-shadow: inset 0px 1px 0px 0px #a4e271;
        background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        background-color: #89c403;
        border-radius: 6px;
        border: 1px solid #74b807;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        font-weight: bold;
        padding: 6px 22px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #528009;
    }

    input[type=submit]:hover {
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color: #77a809;
    }

    input[type=submit]:active {
        position: relative;
        top: 1px;
    }

    nav {
        max-width: 960px;
        mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
        margin: 0 auto;
        padding: 27px 0 0 0;
    }

    nav ul {
        text-align: center;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        padding: 18px;
        font-family: "Open Sans";
        text-transform: uppercase;
        color: rgba(0, 35, 122, 0.5);
        font-size: 18px;
        text-decoration: none;
        display: block;
    }

    nav ul li a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(0, 35, 122, 0.7);
    }




