
@{
    ViewData["Title"] = "Login";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
        <link href="~/Media/Style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <h1>Logowanie do systemu</h1>

        <form action="Login" method="post">
            <label>Login</label>
            <input type="text" name="username" value="" />
            <label>Hasło</label>
            <input type="text" name="password" value="" />
            <br /><br /><button class="myButton" type="submit">Zaloguj</button>
        </form>
    </body>
</html>