

@{
    Layout = "~/Views/Shared/_LayoutTerms.cshtml";
    ViewData["Title"] = "TermsAndConditions";
}

<h2>Warunki handlowe:</h2>
<div id="wrapper2">
    <p>- minimalne zamówienie 500zł netto </p>
    <p>- koszt wysyłki 18zł przedpłata/pobranie</p>
    <p>- przy zamówieniu 800zł netto wysyłka gratis</p>
    <p>- przy zamówieniu 1500zł netto 4% rabatu</p>
    <p>- przy zamówieniu 3000zł netto 6% rabatu</p>
    <p>- przy zamówieniu 5000zł netto 8% rabatu</p>
</div>
<div id="copyright" class="container">
    <p>&copy; HURTOWNIA ZOOLOGICZNO-TERRARYSTYCZNA</p>
    <a href="www.reptihurt.pl">ReptiHurt.pl</a>
    <a href="www.reptihust.pl">ReptiHurt.pl</a>
    tekst do testów
    <ul class="contact">
        <li><p>Polub nas na FB</p><a href="https://www.facebook.com/reptigood" class="icon icon-facebook"><span></span></a></li>
    </ul>
</div>

