@{ 
    ViewData["Title"] = "SaveNewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>Zamówienie zostało złożone.</h1>
</body>
<h1>Prosimy dokonać wpłaty dopiero po otrzymaniu na maila proformy.</h1>
<h1>Jeżeli wybrano przesyłkę pobraniową, prześlemy informację o wysyłce towaru i kwocie pobrania.</h1>
<h1>Dziękujemy.</h1>
<dl>
    <dt>W razie pytań pozostajemy do dyspozycji:</dt>
    <dd>34 364 46 36</dd>
    <dd>790 369 790</dd>
    <dd>biuro@reptigood.pl</dd>
</dl>

